@import 'variables';

* {
  box-sizing: border-box;
  font-family: 'Ubuntu Light', 'Century Gothic', sans-serif;
  margin: 0;
  padding: 0;
  color: #393939;
}

.navbar {
  border-style: solid;
  background-color: rgb(87, 105, 105); 
}
.login {
  border-style: solid;
}
#login {
  position: relative;
 }

 #headerimage {
    padding-top: 5px;
    height: 285px;
    width: 100%;
    object-fit: cover;
    opacity: .90;
 }

 #createevent {
  position:absolute;
  bottom: 225px;
  right: 400px;
}

#eventcard {
  width: 300px;
  padding: $p0;
  margin: $p0;
  font-size: .8em;
  border-style: solid;
  border-color: black;
}
.allMarkets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.modal-overlay-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, .65);
}

.modal-content-div {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 50%;
  left: 0;
  z-index: 10000;
  overflow: auto;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  background-color: white;
}

.modal-content-div:after {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  content: '';
}

.modal-dialog-div {
  position: relative;
  outline: 0;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  max-width: auto;
  cursor: default;
  border-radius: 4px;
}